body {
background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
height: 100vh;

}

.container {
  background-color: white;
}


#carebridgeCarousel {
  width: 600px;
}

#luCarousel {
  width: 600px;
}

.carousel-inner {
   border-radius: 16px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}
